In [1]:
from bs4 import BeautifulSoup
import requests

url = 'https://www.boxofficemojo.com/chart/top_opening_weekend/'

In [2]:
request = requests.get(url)
content = request.text

In [3]:
soup=BeautifulSoup(content)

In [4]:
rows = soup.findAll('tr')

In [5]:
data = rows[1].findAll('td')

In [6]:
data

[<td class="a-text-right mojo-header-column mojo-truncate mojo-field-type-rank">1</td>,
 <td class="a-text-left mojo-field-type-release mojo-cell-wide"><a class="a-link-normal" href="/release/rl3059975681/?ref_=bo_csw_table_1">Avengers: Endgame</a></td>,
 <td class="a-text-right mojo-field-type-money">$357,115,007</td>,
 <td class="a-text-right mojo-field-type-money mojo-estimatable">$858,373,000</td>,
 <td class="a-text-right mojo-field-type-percent">41.6%</td>,
 <td class="a-text-right mojo-field-type-positive_integer mojo-estimatable">4,662</td>,
 <td class="a-text-right mojo-field-type-money mojo-estimatable">$76,601</td>,
 <td class="a-text-left mojo-field-type-date a-nowrap"><a class="a-link-normal" href="/date/2019-04-26/?ref_=bo_csw_table_1">Apr 26, 2019</a></td>,
 <td class="a-text-left mojo-field-type-release_studios"><a class="a-link-normal" href="https://pro.imdb.com/company/co0226183/boxoffice/?view=releases&amp;ref_=mojo_csw_table_1&amp;rf=mojo_csw_table_1" rel="noopener" target="_blank">Walt Disney Studios Motion Pictures<svg class="mojo-new-window-svg" viewbox="0 0 32 32" xmlns="http://www.w3.org/2000/svg">
 <path d="M24,15.57251l3,3V23.5A3.50424,3.50424,0,0,1,23.5,27H8.5A3.50424,3.50424,0,0,1,5,23.5V8.5A3.50424,3.50424,0,0,1,8.5,5h4.92755l3,3H8.5a.50641.50641,0,0,0-.5.5v15a.50641.50641,0,0,0,.5.5h15a.50641.50641,0,0,0,.5-.5ZM19.81952,8.56372,12.8844,17.75a.49989.49989,0,0,0,.04547.65479l.66534.66528a.49983.49983,0,0,0,.65479.04553l9.18628-6.93518,2.12579,2.12585a.5.5,0,0,0,.84741-.27526l1.48273-9.35108a.50006.50006,0,0,0-.57214-.57214L17.969,5.59058a.5.5,0,0,0-.27526.84741Z"></path>
 </svg></a></td>]

In [7]:
openingross = data[0].find('td', class_= 'a-text-right mojo-field-type-money')

In [8]:
print(openingross)

None

In [9]:
data[0].findAll('td')

[]

In [10]:
import pandas as pd
appended_data = []
for row in rows:
    data_row = {}
    data = row.findAll('td')
    if len(data) == 0:
        continue
    if len(data[0].findAll('span')) > 0:
        #special weekend
        data_row['occasion'] = data[0].findAll('span')[0].text
        data_row['date'] = data[0].findAll('a')[0].text
    else:
        #normal weekend
        data_row['occasion'] = ""
        data_row['rank'] = data[0].text
    data_row['name'] = data[1].text
    data_row['openinggross'] = data[2].text
    data_row['totalgross'] = data[3].text
    data_row['percentage'] = data[4].text
    data_row['theathers'] = data[5].text
    data_row['everage'] = data[6].text
    data_row['date'] = data[7].text
    appended_data.append(data_row)
weekend_data = pd.DataFrame(appended_data, columns = ['name', 'openinggross','theathers'])

In [11]:
print(weekend_data)

                                           name  openinggross theathers
0                             Avengers: Endgame  $357,115,007     4,662
1                       Spider-Man: No Way Home  $260,138,569     4,336
2                        Avengers: Infinity War  $257,698,183     4,474
3    Star Wars: Episode VII - The Force Awakens  $247,966,675     4,134
4       Star Wars: Episode VIII - The Last Jedi  $220,009,584     4,232
..                                          ...           ...       ...
195          Madagascar 3: Europe's Most Wanted   $60,316,738     4,258
196                               Kung Fu Panda   $60,239,130     4,114
197                      Straight Outta Compton   $60,200,180     2,757
198                                        Cars   $60,119,509     3,985
199                                       Signs   $60,117,080     3,264

[200 rows x 3 columns]